.row-no-wrap{
    display:flex;
    flex-direction: row;
}
.df{
    display: flex;
}
.f-1{
    flex: 1;
}
.row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.column{
    display:flex;
    flex-direction: column;
}
.ai-c{
    align-items: center;
}

.jc-sb{
    justify-content: space-between;
}
.jc-c{
    justify-content: center;
}

.jc-se{
    justify-content: space-evenly;
}

.jc-c{
    justify-content: center;
}

.textalign-c{
    text-align: center;
}

.mh{
    margin-right: 10px;
    margin-left: 10px;
}

.mh-2{
    margin-right: 20px;
    margin-left: 20px;
}


.mv{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mv-2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mr {
    margin-right: 20px;
}

.mr-2 {
    margin-right: 120px;
}

.ml {
    margin-left: 2%;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3 {
    margin-left: 40px;
}

.mt{
    margin-top: 5%;
}

.mt-2{
    margin-top: 45px;
}

.mb{
    margin-bottom: 10px;
}
.input-large{
    border: 0;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 20px;
}

.input-small{
    border: 0;
    padding: 20px;
    border-radius: 10px;
    width: 125px;
    height: 20px;
}
.input-profile{
    border: 0;
    width: 300px;
    max-width : 500px;
    height:40px;
    border-radius: 10px;
    background-color: white;
}

.input-profile-small{
    border: 0;
    width: 150px;
    max-width : 500px;
    height:40px;
    border-radius: 10px;
    background-color: white;
}

.shadow {
    box-shadow: 8px 8px 20px #c0c0c0;
}

.heading{
    font-size: 40px;
    color: #2B6E89;
}

.heading-small{
    font-size: 35px;
    color: #2B6E89;
}

.label{
    font-size: 20px;
    color: #2B6E89
}

.font-m{
    font-size: 20px;
}

.font-s{
    font-size: 15px;
}

.link{
    text-decoration: none;
}

.p-1{
    padding: 10px;
}

.gray{
    color:#818181
}

.button-round{
    display: inline-block;
  text-decoration: none;
  background: #2B6E89;
  color: #FFF;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
  border: none;
}

.profile_image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  
    object-fit: cover;
    object-position: center right;
}
